<%= render 'layouts/header' %>
<div>
  <nav class="house-nav">
    <ul>
      <li class="house-action active">Status</li>
      <li class="house-action">Feed</li>
      <li class="house-action">Mortality</li>
      <li class="house-action">Eggs</li>
      <li class="house-action">Finance</li>
      <li class="house-action">Tasks</li>
      <li class="house-action">Settings</li>
    </ul>
  </nav>
</div>
